body{
    background-color:#e5e5e5;
   text-align:center;
    padding-top:6vw;
}
#header{
    position:fixed;
    width:100%;
    height:7vw;
    background-color:white;
    left:0%;
    top:0vw;
     z-index:100;
    box-shadow: 4px 4px 0.5px 2px lightgray;
}
#logo{
     position:fixed;
    width:5%;
    height:5vw;
    background-image: url("https://kf.goarglobal.com/img/logo.png");
   background-size:contain;
    left:3%;
    top:1vw;
    background-repeat:no-repeat;
}
#title_r{
    position:fixed;
    left:9%;
    top:1.2vw; 
    font-size:2.5vw;
    color:darkgreen;
    font-family: arial; 
}
#slogan{
    position:fixed;
    left:9%;
    top:4vw; 
    font-size:1.5vw;
    color:limegreen;
    font-family: arial; 
}
#left_panel{
    text-align:left;
    position:fixed;
    left:0%;
    top:7vw;
    z-index:1;
    font-size:1.5vw; 
    font-family: arial;
    color:white;
    background-color:#383838;
    height:100%;
    padding-top:2vw;
    padding-left:2vw;
    padding-right:2vw;
}
#tambah_pasien{
     background-image: url("https://kf.goarglobal.com/img/add.png");
   
    background-size:contain;
    background-repeat:no-repeat;
    padding:0.3vw 0vw 0.3vw 3.5vw;
    margin-bottom:2vw;
}
#Daftar_Pasien{
     background-image: url("https://kf.goarglobal.com/img/list.png");
   
    background-size:contain;
    background-repeat:no-repeat;
    padding:0.3vw 0vw 0.3vw 3.5vw;
    margin-bottom:2vw;
}
#logout{
    background-image: url("https://kf.goarglobal.com/img/logout.png");
   color:white;
    text-decoration:none;
    text-decoration-color:white;
    background-size:contain;
    background-repeat:no-repeat;
    padding:0.3vw 0vw 0.3vw 3.5vw;
    margin-bottom:2vw;
    position:fixed;
    bottom:0vw;
}
#form_pasien{
    position:fixed;
    top:9vw;
    text-align:left;
    left:20vw;
    background-color:white;
    width:78%;
    height: calc(100% - 11vw);
    border-radius:1vw;
    overflow:auto;
    font-family:arial;
    font-size:1.5vw;
}
#title_form{
    font-size : 2.5vw;
    font-weight:bold;
    text-align:center;
    margin-top:1vw;
    margin-bottom:1vw;
    
}
#form_pasien form{
    line-height:3vw;
    margin-left:3vw;
    
} 
.btn{ 
   margin-left:30%;
    margin-top:1vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
     }
#list_pasien{
     position:fixed;
    top:9vw;
    text-align:left;
    left:20vw;
    background-color:white;
    width:78%;
    height: calc(100% - 21vw);
    border-radius:1vw;
    overflow:auto;
    font-family:arial;
    font-size:1vw; 
    padding-left:1vw;
    padding-bottom:10vw;
    
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
    padding-left:0.21vw;
    padding-right:0.5vw;
}
.catatan{
    display:none;
}
#list_pasien table{
    width:98%;
}
#table_detail{
    width:94%;
    margin-left:3%;
    text-align:left;
}
#table_detail, th, td{ 
    padding-left:1vw;
    padding-top:0.5vw;
    padding-bottom:0.5vw;
}
.col1{
    width:20%;
}
a { color: inherit; } 